[submodule "vendor/gopkg.in/alecthomas/kingpin.v2"]
	path = vendor/gopkg.in/alecthomas/kingpin.v2
	url = https://gopkg.in/alecthomas/kingpin.v2
[submodule "vendor/github.com/alecthomas/template"]
	path = vendor/github.com/alecthomas/template
	url = https://github.com/alecthomas/template
[submodule "vendor/github.com/alecthomas/units"]
	path = vendor/github.com/alecthomas/units
	url = https://github.com/alecthomas/units
[submodule "vendor/github.com/olekukonko/tablewriter"]
	path = vendor/github.com/olekukonko/tablewriter
	url = https://github.com/olekukonko/tablewriter
[submodule "vendor/github.com/mattn/go-runewidth"]
	path = vendor/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth
